.projects {
  background-image: linear-gradient(to bottom, var(--color-bg), var(--color-secondary) 8rem);
}

.projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.projects-controls {
  display: none;
}

@media (max-width: 768px) {
  .projects-items {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    --offset: calc(var(--index) * -26rem + 2rem);
    transform: translateX(var(--offset));
    transition: transform 0.3s ease-in-out;
  }

  .projects-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .projects-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      scale: 1.1;
    }

    &:active:not(:disabled) {
      scale: 0.9;
    }
  }

  .projects-controls button:first-child {
    padding-right: 0.2rem;
  }

  .projects-controls button:last-child {
    padding-left: 0.2rem;
  }
}