C:/Users/rosco/Code/personal/websites/portfolio-update/src/assets/projects/videos/DrawYourWeapons_demo.mp4 filter=lfs diff=lfs merge=lfs -text
C:/Users/rosco/Code/personal/websites/portfolio-update/src/assets/projects/videos/Homebrew_demo.mp4 filter=lfs diff=lfs merge=lfs -text
C:/Users/rosco/Code/personal/websites/portfolio-update/src/assets/projects/videos/Taxy_demo.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
