.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  max-width: none;
  max-height: none;
  overflow: visible;
  opacity: 0;
  scale: 0;
  transition:
    opacity 0.25s ease,
    scale 0.25s ease-in-out,
    display 0.25s allow-discrete,
    overlay 0.25s allow-discrete;
}

.modal-container[open] {
  opacity: 1;
  scale: 1;
}

@starting-style {
  .modal-container[open] {
    opacity: 0;
    scale: 0;
  }
}

.modal-container::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition:
    opacity 0.25s ease,
    display 0.25s allow-discrete,
    overlay 0.25s allow-discrete;
}

.modal-container[open]::backdrop {
  opacity: 1;
}

@starting-style {
  .modal-container[open]::backdrop {
    opacity: 0;
  }
}
