@property --rotation {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@property --progress { /* used for border grow on hover */
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.carousel {
  position: relative;
  list-style: none;
  height: 10rem;
  margin: 2rem auto;
  perspective: 1500px;
  transform-style: preserve-3d;
  animation: rotate 60s linear infinite;
  --rotation: 0deg;
  --width: max(35dvw, 18rem);
}

@keyframes rotate {
  to {
    --rotation: 360deg;
  }
}

.carousel li {
  width: 7rem;
  height: 7rem;
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 50%;
  --angle: calc(var(--rotation) + (sibling-index() - 1) * (360deg / sibling-count()));
  --depth: calc((cos(var(--angle)) + 1) / 2);
  transform: translate(-50%, -50%) translateX(calc(sin(var(--angle)) * var(--width)))
    translateZ(calc(cos(var(--angle)) * var(--width))) scale(calc(0.5 + var(--depth) * 0.5));
  opacity: clamp(0, (var(--depth) - 0.5) * 10, 1);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);

  &::after {
    content: attr(title);
    position: absolute;
    bottom: -2rem;
    width: max-content;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    inset: -0.18rem;
    border-radius: 1.18em;
    background: conic-gradient(#FFFFFF var(--progress), transparent var(--progress));
    -webkit-mask: radial-gradient(square farthest-side, transparent calc(100% - 0.25rem), black calc(100% - 0.25rem));
    mask: radial-gradient(square farthest-side, transparent calc(100% - 0.25rem), black calc(100% - 0.25rem));
    transition: --progress 0.5s ease-in-out;
    pointer-events: none;
    z-index: -1;
  }
}

.carousel li:hover::before {
  --progress: 360deg;
}

.carousel li:hover::after {
  opacity: 1;
}

.carouselImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}

.carouselImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel {
    --width: 90dvw;
  }

  .carousel li::after {
    opacity: calc(0.15 + var(--depth) * 0.85);
  }
}