:root {
  --color-text: #fff;
  --color-primary: #0c3340;
  --color-secondary: #2d6e85;
  --color-bg: #114b5f;
  --color-error: #ff0000ea;

  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;

  --navbar-height: 7.5rem;

  --project-card-width: 23rem;
}
